@import url(http://fonts.googleapis.com/css?family=Domine:400,700)
@import 'bourbon/bourbon'

// Color definitions
$main-color: #ee4300
$border-color: #dddddd

// Standard
html, body
    font-family: 'Domine', sans-serif
    font-size: 10px
    margin: 0
    cursor: default
    padding: 0 1em
    @include perspective(600px)

a, a:link, a:visited
    color: $main-color
    text-decoration: none
    border-bottom: 1px dotted darken($main-color, 10%)

a:hover
    color: darken($main-color, 10%)
    border: 0

// Structure
nav
    text-align: center
    margin-top: 50px

    a, a:link, a:visited
        padding: 0.5em 1em
        background: #222
        color: #fff
        border-radius: 3px
        font-size: 1.4em
        text-decoration: none
        display: inline-block
        margin: 0 0.5em 5px 0.5em
        @include animation( fadeIn 1.5s ease-out )

        &:hover
            background: lighten($main-color, 10%)

        &:active
            background: lighten($main-color, 5%)

@include keyframes(fadeIn)
    from
        opacity: 0
        @include transform( translateY(20px) )
    50%
        opacity: 0
    to
        opacity: 1
        @include transform( translateY(0) )

// Headings
h1
    color: $main-color
    font-size: 5em
    text-align: center
    font-weight: normal
    margin: 10% 0 0 0
    @include animation( fadeDown 1s ease-out )

@include keyframes(fadeDown)
    from
        @include transform( translateY(-10px) )
        opacity: 0
    to
        @include transform( translateY(0) )
        opacity: 1

@include keyframes(fadeUp)
    from
        @include transform( translateY(10px) )
        opacity: 0
    50%
        opacity: 0
    to
        @include transform( translateY(0) )
        opacity: 1

h2
    margin: 0 0 20px 0
    text-align: center
    font-size: 1.5em
    @include animation( fadeUp 1s ease-out )
