@import url(http://fonts.googleapis.com/css?family=Domine:400,700);
html, body {
  font-family: "Domine", sans-serif;
  font-size: 10px;
  margin: 0;
  cursor: default; }

a, a:link, a:visited {
  color: #ee4300;
  text-decoration: none;
  border-bottom: 1px dotted #bb3500; }

a:hover {
  color: #bb3500;
  border: 0; }

nav {
  text-align: center;
  margin-top: 50px; }
  nav a, nav a:link, nav a:visited {
    padding: 0.5em 1em;
    background: #222222;
    color: white;
    border-radius: 3px;
    font-size: 1.4em;
    text-decoration: none;
    display: inline-block;
    margin: 0 0.5em 5px 0.5em; }
    nav a:hover, nav a:link:hover, nav a:visited:hover {
      background: #ff6022; }
    nav a:active, nav a:link:active, nav a:visited:active {
      background: #ff4e08; }

h1 {
  color: #ee4300;
  font-size: 5em;
  text-align: center;
  font-weight: normal;
  margin: 10% 0 0 0; }

h2 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 1.5em; }
