<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home of Alexander Cederblad - alexceder.se</title>
    <link rel="icon" type="image/png" href="/gfx/favicon.png" media="screen">
    <link rel="stylesheet" href="/css/main.css" media="screen">
    <link rel="stylesheet" href="/css/syntax.css" media="screen">
</head>
<body>

<header>
    <h1><span class="backed">alexceder</span>.se</h1>
    <p>all my ridiculous attempts</p>
    <nav>
        <a href="/">blog</a>
        <a href="/about">about</a>
        <a href="https://github.com/alexceder">github</a>
    </nav>
</header>
<section>
{{ content }}
</section>

</body>
</html>